@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #41436A; /* Dark background color */
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* White background for the container */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.title {
    padding: 20px;
    text-align: center;
    color: #fe9677; /* Accent color for the title */
    font-size: 2em; /* Adjusted title size */
}

.tab-holder {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    gap: 5px;
    max-width: 40vw;
}

.tab {
    width: 160px;
    height: 160px;
    margin: 15px;
    border-radius: 10px;
    background-size: contain; /* Ensures images cover the tab area */
    transition: transform 0.3s ease;
}
/* Image backgrounds for each tab */
.maths-tab {
    background: url('images/maths.jpeg') no-repeat center;
    background-size: contain;
}
.science-tab {
    background: url('images/science.jpeg') no-repeat center;
    background-size: contain;
}
.geography-tab {
    background: url('images/geography.jpeg') no-repeat center;
}
.computing-tab {
    background: url('images/computing.jpeg') no-repeat center;
}
.hwtab {
    background: url('images/homework.jpeg') no-repeat center;
}

.tab:hover {
    transform: scale(1.15);
}
