@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box; /* Ensures padding and border are included in element's total width and height */
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #41436A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px; /* Space between title and table */
}

header h1 {
    font-size: 2em;
    color: #fe9677; /* Accent color for the header */
    margin: 0;
}

.styled-table {
    border-collapse: collapse;
    font-size: 16px;
    width: 100%;
    max-width: 100%; /* Ensures the table uses the full width of the container */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px; /* Rounded corners for the table */
    background-color: #ffffff; /* White background for the table */
}

.styled-table thead tr {
    background-color: #fe9677;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.styled-table textarea {
    width: 100%;
    height: auto;
    border: 1px solid #dddddd;
    border-radius: 4px;
    resize: vertical; /* Allows resizing the height */
    padding: 8px;
    font-size: 14px;
    background-color: #ffffff;
    color: #333;
}

.styled-table input[type="checkbox"] {
    transform: scale(1.2); /* Increase size of checkboxes */
}
